<%
function processHtmlContent(rawHtmlContent) {
  const $ = cheerio.load(rawHtmlContent);
  $('article .body .p > i').each(function() {
    const content = $(this).html();
    $(this).replaceWith(`<blockquote>${content}</blockquote>`);
  });
  $('a[data-explore]').each(function() {
    const exploreValue = $(this).attr('data-explore');
    $(this).attr('href', `https://www.google.com/search?q=${encodeURIComponent(exploreValue)}&btnI`);
    $(this).attr("target", "_blank");
  });
  return $.html();
}
%>

<!-- iterate through summary.pageSummaries -->
<% summary.pageSummaries.forEach(function(pageSummary) { %>
  <article>
    <h2><%= pageSummary.pageSummary.title %></h2>
    <div><%- processHtmlContent(pageSummary.pageSummary.summary.trim()) %></div>
    <% if (debug) { %>
    <blockquote style='background-color: #cecece; white-space: pre; width:1024px; height:384px; overflow: scroll'>
      <%= pageSummary.debug.out_prompt[0] %>
    </blockquote>
    <% } %>
  </article>
    <p>
      <a href="<%= pageSummary.url.link %>"><%= pageSummary.url.heading %></a>
    </p>

<% }); %>

<% summary.extra_data.links.forEach( function(link) { %>
  <a href="/url/<%= encodeURIComponent(link.link) %>">View <%= link.text %></a>
<% }); %>

