<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1><%= article.url %></h1>
  <h1><%= article.readableArticle.title %></h1>
  <a href="/content/<%= parseInt(index) - 1 %>">Previous</a>
  <a href="/content/<%= parseInt(index) + 1 %>">Next</a>
  <h1> Readable Article </h1>
  <%- article.readableArticle.content %>

  <h1> Pandoc Readable Article </h1>
  <%- article.pandocCrawl.readableArticle.content %>

  <h1> raw </h1>
  <pre><code><%= JSON.stringify(article,0,2) %></code></pre>
</body>
</html>
